.gamelabel {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    padding-top: 50px;
}
.gamelabel h1 {
    font-size: 2em;
    text-decoration: underline;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.gamelabel h2 {
    font-weight: normal;
}