.player-main {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, 0);
}
.player-part {
    position: relative;
}
.player-collider {
    position: absolute;
    width: 70px;
    height: 38px;
    top: 20%;
    right: 10%;
    border-radius: 50%;
}
.player-collider[data-jumping] {
    width: 48px;
    height: 35px;
    top: 20%;
    right: 30%;
}

/* if .player-main has data-jumping animate the .player-main, moving it up and back down */
.player-main[data-jumping] {
    animation: jump 1s ease-in-out;
}

.score-info {
    position: absolute;
    top: 0;
    right: 0;
    animation: scorePop 1s ease-in-out;
}

/* The jump animation */
@keyframes jump {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -250%);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes scorePop {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    50% {
        transform: translate(0, -100%);
        opacity: 1;
    }
    100% {
        transform: translate(0, -100%);
        opacity: 0;
    }
}