@import './style/background.css';
@import './style/player.css';
@import './style/ground.css';
@import './style/enemies.css';
@import './style/obstacle.css';
@import './style/healthbar.css';
@import './style/gamelabel.css';
@import './style/scorelabel.css';

body {
    font-family: 'Pixelify Sans', sans-serif;
}

.activable-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}
